// === FONTS === //
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Oswald', sans-serif;


// === COLOR PALETTE === //
$color-light: #ffffff;
$color-dark: #000000;
$color-shade: #2a2a2a7d;

$color-global-button: #e3ff38;
$color-button-whatsapp: #40cf4b;

$color-section2: #57bf8c;
$color-section2-dark: #007a44;
$color-section3: #3ec1d3;
$color-section3-dark: #00446d;
$color-section4: #bae1f6;
$color-section4-dark: #1f3970;


// === RESPONSIVE BREAKPOINTS === //
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;


// === MIXINS === //

// Centrado flexbox
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Media queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md {
        @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
        @media (max-width: $breakpoint-lg) { @content; }
    }
}


// === BASE STYLES === //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // DEBUG: border: 1px solid red;
}

body {
    font-family: $font-primary;
    background-color: $color-section2;
    color: $color-light;
}

section {
    @include flex-center;

    padding: 10px 10px 30px;
    gap: 20px;
    background-color: var(--section-color);
    box-shadow: inset $color-shade 0 0 50px;

    // Alternar colores de artículos
    &:nth-of-type(2) { 
        --section-color: #{$color-section2}; 
        --section-dark-color: #{$color-section2-dark};
    }
    &:nth-of-type(3) { 
        --section-color: #{$color-section3}; 
        --section-dark-color: #{$color-section3-dark};
    }
    &:nth-of-type(4) { 
        --section-color: #{$color-section4}; 
        --section-dark-color: #{$color-section4-dark};
    }
    &:nth-of-type(5) { --section-color: #{$color-light}; }
}

.side-image {
    width: 100%;
    max-width: 400px;
    border: 5px solid var(--section-dark-color);
    box-shadow: $color-shade 0 0 10px;
}

article {
    width: 100%;
    background-color: $color-light;
    color: $color-dark;
    border-radius: 10px;
    padding: 15px;
    padding-left: 25px;
    position: relative;
    box-shadow: inset var(--section-dark-color) 10px 0 0;

    hr {
        border: 3px solid var(--section-dark-color);
        border-radius: 10px;
        margin: 20px 0;
    }

    ul {
        list-style-type: none;
    }

    ol {
        list-style: none;
        counter-reset: my-counter;
        padding-left: 0;

        li {
            width: auto;
            counter-increment: my-counter;
            position: relative;
            margin-left: 5px;
            padding-left: 35px;
            margin-bottom: 15px;

            &::before {
                content: counter(my-counter);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: var(--section-dark-color);
                font-weight: bold;
                font-size: 30px;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
}

h1, h2, h3 {
    background-color: var(--section-dark-color);
    font-family: $font-secondary;
    color: $color-light ;
    width: 100%;
    padding: 15px;
    font-size: 32px;
    text-align: center;
}

h2 {
    border: 5px double $color-light;
}

.icon {
    color: var(--section-dark-color);
    margin-right: 10px;
    width: 10px;
    font-size: 1.5em;
}

.button {
    width: 100%;
    max-width: 300px;
    background-color: $color-global-button;
    color: $color-dark;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: $color-shade 0 0 10px;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: $color-shade 0 10px 20px;
    }
}


// ======================================================== //


// === SPECIFIC STYLES === //

// LANDING
#section1 {
    min-height: 100vh;
    background: url(img/_DSC0767.jpg) no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    text-align: center;

    #logo {
        width: 200px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 50px;
    }

    p:first-of-type {
        font-size: 26px;
        margin-bottom: 100px;
    }
}

// "¿QUÉ ES?"
#section2 {
    ul li {
        margin-bottom: 15px;
    }
}

// "¿CÓMO FUNCIONA?"
#section3 {
    .card {
        width: 100%;
        background-color: var(--section-dark-color);
        border-radius: 10px;

        h3 {
            border-radius: 10px 10px 0 0;
            text-align: left;
            font-size: 26px;

            .icon { 
                color: $color-light;
                font-size: 1.2em;
            }
        }

        article {
            box-shadow: none;
            width: calc(100% - 10px);
            margin-left: 10px;

            ul {
                list-style: inside disc;
            }
        }
    }
}

// "¿ALGUNA DUDA?"
#section4 {
    article {
        @include flex-center;

        background-color: var(--section-dark-color);
        color: $color-light;

        h4 {
            font-size: 24px;
            text-align: center;
        }

        a {
            margin-top: 20px;
            background-color: $color-button-whatsapp;
            color: $color-light;

            &:hover {
                background-color: darken($color-button-whatsapp, 10%);
            }
        }
    }
}

// RESEÑAS
#section5 {
    h2 {
        color: $color-dark;
    }
}